$pale_blue: hsl(243, 100%, 93%);
$grayish_blue: hsl(229, 7%, 55%);
$dark_blue: hsl(228, 56%, 26%);
$very_dark_blue: hsl(229, 57%, 11%);

$box-shadow-16dp: 0px 8px 10px -5px rgba(0, 0, 0, 0.08),
  0px 16px 24px 2px rgba(0, 0, 0, 0.08), 0px 6px 30px 5px rgba(0, 0, 0, 0.05);
